/BBDD1/nbproject/private/
/BBDD1/build/
/BBDD2/nbproject/private/
/BBDD3_CRUD/nbproject/private/
/BBDD3_CRUD/build/
/BBDD3_CRUD_OK/nbproject/private/
/BBDD3_CRUD_OK/build/
/BBDD4/nbproject/private/
/BBDD4_OK/nbproject/private/
/BBDD4_OK/build/
/BBDD_Foro/nbproject/private/
/CRUD/WebApplication_CRUD_Estudiantes/build/
/CRUD/WebApplication_CRUD_Estudiantes/nbproject/private/
/WebApplicationLigaFutbol/WebApplication_LigaFutbol/build/
/WebApplicationLigaFutbol/WebApplication_LigaFutbol/nbproject/private/
/WA_CRUD_Foro_Sesiones/build/
/WA_CRUD_Foro_Sesiones/nbproject/private/
/A_Referencia/nbproject/private/
/20241211_WA_Examen/nbproject/private/
/20241211_WA_Examen/build/
